
{% extends "assignment_scheduler/base.html" %}

{% block content %}

  <div>
    <h2>Your Past Due Assignments:</h2>
    {% if past_due|length > 0 %}
      {% for assignment in past_due %}
        {% if not assignment.complete %}
          <p class="alert alert-danger">Class: {{ assignment.class_name }} Assignment: <a href="/assignment/{{ assignment.id }}/">{{ assignment.name }}</a></p>
        {% endif %}
      {% endfor %}
    {% else %}
      <p class="alert alert-success">No Overdue Assignments</p>
    {% endif %}
  </div>

  <div>
    <h2>Your Upcoming Assignments:</h2>
    <h4>Due Today:</h4>
    {% if due_today|length > 0 %}
      {% for assignment in due_today %}
        {% if not assignment.complete %}
          <p class="alert alert-warning">Class: {{ assignment.class_name }} Assignment: <a href="/assignment/{{ assignment.id }}/">{{ assignment.name }}</a></p>
          {% else %}
          <p class="alert alert-success">Class: {{ assignment.class_name }} Assignment: <a href="/assignment/{{ assignment.id }}/">{{ assignment.name }}</a></p>
        {% endif %}
      {% endfor %}
    {% endif %}
    <h4>Due Tomorrow:</h4>
    {% if due_tomorrow|length > 0 %}
      {% for assignment in due_tomorrow %}
        {% if not assignment.complete %}
          <p class="alert alert-warning">Class: {{ assignment.class_name }} Assignemnt: <a href="/assignment/{{ assignment.id }}/">{{ assignment.name }}</a></p>
        {% else %}
          <p class="alert alert-success">Class: {{ assignment.class_name }} Assignemnt: <a href="/assignment/{{ assignment.id }}/">{{ assignment.name }}</a></p>
        {% endif %}
      {% endfor %}
    {% else %}
      <p>None</p>
    {% endif %}
  </div>



{% endblock %}
